.app-header {
  background-image: url("./books-cat.jpg");
  background-position: right;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}
.app-footer {
  padding: 20px 0px;
  text-align: center;
  font-family: "Syne", sans-serif;
}
.app-footer a {
  color: #5a5a5a;
}

@media (max-width: 576px) {
  .app-header {
    background-image: url("./books3.jpg");
    background-position: top;
    height: 40vh;
    width: 100vw;
  }
}
