.app-header h1 {
  text-align: center;
}
.app-header {
  background-image: url("./books-cat.jpg");
  background-position: right;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}
.app-footer {
  padding: 20px 0px;
  text-align: center;
  font-family: "Syne", sans-serif;
}
.app-footer a {
  color: #5a5a5a;
}
