.DictionarySearch section {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 5px;
  margin: 20px 200px;
}

.DictionarySearch input {
  width: 100%;
  padding: 12px 5px;
  border-radius: 5px;
  font-size: 18px;
}
.DictionarySearch .hint {
  opacity: 50%;
  font-size: 12px;
}

@media (max-width: 1100px) {
  .DictionarySearch section {
    margin: 20px 20px;
  }
}
