audio {
  width: 150px;
  opacity: 30%;
}
.phoneticsText {
  font-size: 18px;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-timeline {
  display: none;
}
