audio {
  width: 150px;
  margin-top: 20px;
}
.phoneticsText {
  font-size: 18px;
  line-height: 1;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls-panel {
  background-color: rgb(82, 82, 82);
}
